# Core
fastapi
uvicorn[standard]
python-dotenv
pydantic
httpx
python-multipart

# LangChain
langchain
langchain-openai
langchain-community
langchain-core
langchain-chroma
langchain-text-splitters
langchain_pymupdf4llm

# LangGraph
langgraph
langgraph-checkpoint-sqlite
langgraph-checkpoint-postgres
psycopg[binary]

# Vector Store
langchain-qdrant
qdrant-client

# Caching
redis

# Testing & Evaluation
pytest
ragas
datasets

# Development
ipykernel
huggingface_hub
sentence_transformers

# LangSmith
langsmith
langgraph-cli[inmem]