# Core
fastapi
uvicorn[standard]
python-dotenv
pydantic
httpx

# LangChain
langchain
langchain-openai
langchain-community
langchain-core
langchain-chroma
langchain-text-splitters
langchain_pymupdf4llm

# LangGraph
langgraph
langgraph-checkpoint-sqlite
# Vector Store
chromadb

# Testing & Evaluation
pytest
ragas
datasets

# Development
ipykernel
huggingface_hub
sentence_transformers

# LangSmith
langsmith
langgraph-cli[inmem]